<div class="main-wrapper">
  <h1>
    {{ message }}
    {{ redirect ? " or " : ""
    }}<a *ngIf="redirect" [routerLink]="redirect">click here</a>
  </h1>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    *ngIf="!submitted"
    checkPassword
  >
    <div class="input-wrapper">
      <img src="../../../assets/icons/password.png" />
      <input
        type="password"
        id="newPassword"
        formControlName="newPassword"
        required="true"
        placeholder="Enter new password"
      />
    </div>
    <div
      *ngIf="
        form.get('newPassword')?.invalid && form.get('newPassword')?.touched
      "
      class="error-wrapper"
    >
      <div *ngIf="form.get('newPassword')?.hasError('required')">
        New password is required
      </div>
      <div *ngIf="form.get('newPassword')?.hasError('minlength')">
        New password should be at least 6 characters long.
      </div>
      <div *ngIf="form.get('newPassword')?.hasError('maxlength')">
        New password should be maximum 15 characters long.
      </div>
    </div>
    <div class="input-wrapper">
      <img src="../../../assets/icons/password.png" />
      <input
        type="password"
        id="confirmNewPassword"
        formControlName="confirmNewPassword"
        required="true"
        placeholder="Confirm new password"
      />
    </div>
    <div
      *ngIf="
        form.get('confirmNewPassword')?.invalid &&
        form.get('confirmNewPassword')?.touched
      "
      class="error-wrapper"
    >
      <div *ngIf="form.get('confirmNewPassword')?.hasError('required')">
        Confirm password is required
      </div>
      <div *ngIf="form.get('confirmNewPassword')?.hasError('minlength')">
        Confirm password should be at least 6 characters long.
      </div>
      <div *ngIf="form.get('confirmNewPassword')?.hasError('maxlength')">
        Confirm password should be maximum 15 characters long.
      </div>
    </div>

    <div
      *ngIf="
        form.get('confirmNewPassword')?.valid &&
        form.get('confirmNewPassword')?.touched &&
        form.get('newPassword')?.valid &&
        form.get('newPassword')?.touched &&
        form.hasError('passwordsNotMatching')
      "
      class="error-wrapper"
    >
      <div>Passwords do not match</div>
    </div>
    <button type="submit" [disabled]="form.invalid">Reset password</button>
    <button type="cancel" (click)="onCancel()">Cancel</button>
  </form>
</div>
